# Entornos virtuales
venv/
env/
.env
.venv/

# Caches y compilados de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Herramientas de desarrollo / IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
